# Node.js
node_modules/

# Logs
logs/
*.log

# Dependency directories
bower_components/

# Build directories
dist/
build/

# Environment files
.env

# IDE and editor files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
